body {
    font-family: 'Oswald', sans-serif;
    background-color: antiquewhite;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    color: rgb(134, 11, 134);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#question {
    background-color: rgba(209, 116, 35, 0.623);
}

#title {
    border: solid 1px gray;
    background-color: gray;
    color: white;
    padding: 10px;
}

#number {
    margin-left: 50%;
}

.highSection {
    display: inline-flex;
}

div .questionArea {
    padding: 5%;
}

button {
    color: lemonchiffon;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(179, 13, 165);
}

button:hover {
    background-color: rgb(99, 7, 91);
}